.cart__container {
  width: 250px;
  height: 250px;
  max-height: 20rem;
  background-color: #fff;
  &-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  &-actions {
    text-align: right;
    .button:hover,
    .button:active {
      background-color: #5a1a01;
      border-color: #5a1a01;
      color: white;
    }
  }
}
