.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 10%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 85%
  );
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding: 0.8rem 1rem;
}

.cart:hover,
.cart:active {
  background: rgb(252, 176, 69);
  background: linear-gradient(
    90deg,
    rgba(252, 176, 69, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(131, 58, 180, 1) 100%
  );
}

.cart-icon {
  display: flex;
  margin-right: 0.5rem;
}

.badge {
  background-color: #dc3545;
  padding: 0.5rem;
  margin-left: 1rem;
  font-weight: bold;
}

.cart:hover .badge,
.cart:active .badge {
  background-color: #92320c;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
