.cart__container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(190, 190, 190);
  color: black;
  position: fixed;
  width: 25rem;
  max-height: 20rem;
  z-index: 101;
  border-radius: 15px;
  &-total {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem;
  }
  &-actions {
    margin: 0.5rem 1rem 1rem 0;
    text-align: right;
    .button:hover,
    .button:active {
      background-color: #5a1a01;
      border-color: #5a1a01;
      color: white;
    }
  }
  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
