.navbar {
  padding-top: 1em !important;
}
.logo {
  max-width: 7%;
  max-height: 7%;
}
.btn:hover {
  color: gray !important;
}
.gradient {
  z-index: 100;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 0.6em 1.3em;
  background: linear-gradient(90deg, #00aeff, #a68eff);
}
.gradient:hover
.gradient:active {
  transition: 0.3s;
  color: black;
  background: rgb(252, 176, 69);

}
.cart {
  cursor: pointer;
  z-index: 100;
}
