.navbar {
  position: sticky !important;
 
  padding-bottom: 1em;
  padding-top: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background-color 0.3s ease;
}
.navbar.scrolled {
  background-color: rgba(0, 0, 0, 0.733);
}

.logo {
  max-width: 7%;
  max-height: 7%;
}
.nav-link-container {
  display: flex;
  justify-content: center;
  padding: 0 1em;
  z-index: 100;
}
.nav-link {
  position: relative;
}
.nav-link::before,
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  border-bottom: 2px solid #fff;
  transition: 0.3s;
}
.nav-link::before {
  right: 0;
}
.nav-link::after {
  left: 0;
}
.nav-link:hover {
  color: gray !important;
}
.nav-link:hover::before,
.nav-link:hover::after {
  width: 50%;
}
.gradient {
  z-index: 100;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 0.6em 1.3em;
  background: linear-gradient(90deg, #00aeff, #a68eff);
}
.gradient:hover .gradient:active {
  transition: 0.3s;
  color: black;
  background: rgb(252, 176, 69);
}
.cart {
  cursor: pointer;
  z-index: 100;
}
#nav-icon1 {
  width: 60px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  background: none;
  border: none;
}
#nav-icon1 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #eeeeee;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .nav-link-container {
    font-size: 1rem;
  }
  .logo {
    max-width: 9%;
    max-height: 9%;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  .logo {
    max-width: 17%;
    max-height: 17%;
  }
  .nav-link-container {
    font-size: 1.2rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 1250px) {
  .nav-link-container {
    font-size: 1.5rem;
  }
  
}
