.banner-container {
  margin-top: 5em;
  height: 100%;
}
.rigth-banner {
  position: relative;
  width: 50%;
  overflow-x: hidden;
}
.left-banner {
  width: 50%;
}
.shoes-banner {
  position: absolute;
  scale: 0.9;
  right: -100px;
  top: -50px;
  height: 100%;
  transform: rotate(347deg);
}

.btn-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: linear-gradient(90deg, #00aeff, #a68eff);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

.btn-banner:hover,
.btn-banner:active {
  transition: 0.3s;
  background: rgb(252, 176, 69);
}

.title-banner {
  font-size: 5rem;
}
.descriptions-banner {
  font-size: 1rem;
  color: grey;
}
.bottom-left-banner {
  width: 100%;
  display: flex;
  justify-content: end;
}
.container-special-offer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.rwd-special-offer {
  font-size: 1.3rem;
}
.border-special-offer {
  font-size: 0.9rem;
  padding-top: 0.3em;
  z-index: 1;
  background-color: rgba(74, 70, 70, 0.53);
  border-radius: 15px;
  text-align: center;
  width: 50%;
}
.blur {
  filter: blur(2px);
}
@media (max-width: 1400px) {
  .title-banner {
    font-size: 4.1rem;
  }
}
@media (max-width: 1250px) {
  .title-banner {
    font-size: 4.1rem;
  }
}
@media (max-width: 1250px) {
  .title-banner {
    font-size: 3.7rem;
  }
}
@media (max-width: 1000px) {
  .rwd-special-offer {
    font-size: 1.2rem;
    margin-bottom: 0.3em;
  }
  .rwd-special-offer-description {
    font-size: 0.8rem;
  }
}
@media (max-width: 850px) {
  .title-banner {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .btn-banner {
    font-size: 0.9rem;
    padding: 0.7em 1em;
  }
  .title-banner {
    font-size: 2.5rem;
  }
  .descriptions-banner {
    font-size: 0.8rem;
  }
  .rwd-special-offer {
    font-size: 0.85rem;
    margin-bottom: 0.3em;
  }
  .rwd-special-offer-description {
    font-size: 0.65rem;
    margin-bottom: 0;
  }
}
@media (max-width: 670px) {
  .total-rwd {
    font-size: 0.7rem;
  }
}
@media (max-width: 620px) {

  .title-banner {
    font-size: 2rem;
  }
  .descriptions-banner {
    font-size: 0.6rem;
  }
  .rigth-banner {
    .shoes-banner {
    }
  }
  .total-rwd {
    font-size: 0.7rem;
  }
}
@media (max-width: 530px) {
  .total-rwd {
    font-size: 0.7rem;
  }
  .opinion-container-rwd {
    display: none;
  }
  .rwd-special-offer {
    font-size: 0.7rem;
    margin-bottom: 0.3em;
  }
  .rwd-special-offer-description {
    font-size: 0.55rem;
    margin-bottom: 0;
    padding-bottom: 0.2em;
  }
}
@media (max-width: 490px) {
}
@media (max-width: 460px) {
  .rwd-special-offer {
    font-size: 0.6rem;
    margin-bottom: 0;
  }
  .rwd-special-offer-description {
    font-size: 0.5rem;
    margin-bottom: 0;
    padding-bottom: 0.2em;
  }
}
@media (max-width: 430px) {
  .title-banner {
    font-size: 1.7rem;
  }
  .btn-banner {
    padding: 0.5em 0.9em;
    font-size: 0.7em;
  }
  .rigth-banner {
    .shoes-banner {
      scale: 0.6;
    }
  }
}
@media (max-width: 400px) {
}
@media (max-width: 370px) {
  .total-rwd {
    font-size: 0.7rem;
  }
  .rigth-banner {
    right: 0;
    .shoes-banner {
      scale: 0.7;
    }
  }
}
