.banner-container {
  margin-top: 5em;
  height: 100%;
}
.rigth-banner {
  width: 50%;
}
.left-banner {
  width: 50%;
}
.shoes-banner {
  top: -5%;
  left: 25%;
  position: absolute;
  scale: 0.7;
  width: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url(../../assets/pngegg.png);
  transform: rotate(347deg);
}

.btn-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: linear-gradient(90deg, #00aeff, #a68eff);
  color: white;
  border-radius: 10px;
  font-weight: bold;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

.btn-banner:hover,
.btn-banner:active {
  transition: 0.3s;
  background: rgb(252, 176, 69);
}

.title-banner {
  font-size: 5rem;
}
.descriptions-banner {
  font-size: 1rem;
  color: grey;
}
.bottom-left-banner {
  width: 100%;
  display: flex;
  justify-content: end;
}
.container-special-offer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}
.border-special-offer {
  font-size: 0.9rem;
  padding-top: 0.3em;
  z-index: 1;
  background-color: rgba(74, 70, 70, 0.53);
  border-radius: 15px;
  text-align: center;
  width: 50%;
}
.blur {
  filter: blur(2px);
}
