.form-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-amount {
  margin-right: 1em;
}
.gradient-btn {
  z-index: 100;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 0;
  width: 4em;
  height: 2.2em;
  margin-left: 0.5em;
  background: linear-gradient(90deg, #00aeff, #a68eff);
}
.gradient-btn:hover,
.gradient-btn:active {
  transition: 0.3s;
  background: rgb(252, 176, 69);
}
